### Data Collection

Total 24 categories of Amazon reviews data

In [1]:
import pandas as pd

df = pd.read_json('reviews_Video_Games.json.gz', lines=True)
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AB9S9279OZ3QO,0078764343,Alan,"[1, 1]",I haven't gotten around to playing the campaig...,5,Good game and Beta access!!,1373155200,"07 7, 2013"
1,A24SSUT5CSW8BH,0078764343,Kindle Customer,"[0, 0]",I want to start off by saying I have never pla...,5,Love the game,1377302400,"08 24, 2013"
2,AK3V0HEBJMQ7J,0078764343,"Miss Kris ""Krissy""","[0, 0]",this will be my second medal of honor I love h...,4,MOH nice,1372896000,"07 4, 2013"
3,A10BECPH7W8HM7,043933702X,"GMC ""Old Time Modeler""","[0, 0]","great game when it first came out, and still a...",5,Five Stars,1404950400,"07 10, 2014"
4,A2PRV9OULX1TWP,043933702X,grimi,"[0, 0]",this is the first need for speed I bought year...,5,memory lane,1386115200,"12 4, 2013"

In [2]:
df.shape

(1324753, 9)

Check unique counts for each columns

In [3]:
df = df.applymap(lambda x: tuple(x) if isinstance(x, list) else x)
df.nunique()

C:\Users\Joe Chok\AppData\Local\Temp\ipykernel_3900\441019928.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: tuple(x) if isinstance(x, list) else x)

reviewerID         826767
asin                50210
reviewerName       632327
helpful              7939
reviewText        1322560
overall                 5
summary            869792
unixReviewTime       5396
reviewTime           5396
dtype: int64

Check the overall rating score unique counts

In [4]:
df['overall'].value_counts()

overall
5    709770
4    260260
1    152840
3    124370
2     77513
Name: count, dtype: int64

Create sentiment label based on rating score

In [5]:
df['sentiment'] = df['overall'].apply(lambda x: 'positive' if x in [4, 5] else ('neutral' if x == 3 else 'negative'))
df['sentiment'].value_counts()

sentiment
positive    970030
negative    230353
neutral     124370
Name: count, dtype: int64

Subset each sentiment for 50K data only

In [6]:
sample_size = 50000

# sample 50k or less if there are fewer rows
df = df.groupby('sentiment').apply(lambda x: x.sample(n=min(len(x), sample_size), random_state=42)).reset_index(drop=True)

df['sentiment'].value_counts()

C:\Users\Joe Chok\AppData\Local\Temp\ipykernel_3900\2001473947.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby('sentiment').apply(lambda x: x.sample(n=min(len(x), sample_size), random_state=42)).reset_index(drop=True)

sentiment
negative    50000
neutral     50000
positive    50000
Name: count, dtype: int64

In [7]:
df.shape

(150000, 10)

Assign Category name

In [8]:
df['category'] = 'Video Games'

In [9]:
df.shape

(150000, 11)

Select the needed columns

In [10]:
df = df[['reviewText', 'overall', 'reviewTime','sentiment', 'category']]

In [11]:
df.shape

(150000, 5)

Save to CSV file

In [12]:
df.to_csv('reviews_Video_Games.csv', index=False)

print("Successfully saved as CSV file'")
df.head()

Successfully saved as CSV file'

,reviewText,overall,reviewTime,sentiment,category
0,I normally don't write bad reviews cause I bel...,1,"01 3, 2014",negative,Video Games
1,I have been trying to install the software and...,1,"02 3, 2011",negative,Video Games
2,Forza 4 had wayyyyy more features and capabili...,2,"12 29, 2013",negative,Video Games
3,I used this keyboard for about 3 months before...,1,"07 16, 2013",negative,Video Games
4,Blue light of death. Console worked then a fe...,1,"11 26, 2013",negative,Video Games

### For (Amazon Books and Amazon Electronics) Reviews only (Too large - Memory blast)

In [13]:
# import pandas as pd

# # Initialize an empty list to store the chunks
# chunks = []

# # Read the JSON file in chunks
# for chunk in pd.read_json('reviews_Electronics.json.gz', lines=True, chunksize=100000):
#     chunks.append(chunk)
    
#     # Stop if we've collected 1,000,000 rows
#     if sum(len(c) for c in chunks) >= 1000000:
#         break

# # Concatenate the chunks into a single DataFrame and slice to keep only the first 1,000,000 rows
# df = pd.concat(chunks).head(1000000)

# # Display the first few rows of the DataFrame
# print(df.head())